@import url("https://fonts.googleapis.com/css?family=Fredoka One");
@import url("https://fonts.googleapis.com/css?family=Inter");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Righteous&family=Sarala&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

body {
    width: 100%;
    background: #ff7418;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.logoazapfy{
    margin-top: 40px;
    width: 250px;
}

.titulo{
margin-top: 15px;
    margin-left: 30px;
}
.texto{
    margin-left: 30px;
    margin-bottom: 25px;
}

.resultados{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0, 0, 0.3);
    width: 450px;
    max-height: 100%;
    gap: 10px;
    
}

.resultados_tempo{
    margin-left: 30px;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: -2px 3px 5px rgba(255,116,24,1), 1px -2px 5px rgba(255,116,24,1);
    margin-right: 30px;
    width: 390px;
    height: 50px;
    
}

.titulo_resultados{
    margin-left: 30px;
   
}

.Resultados{
    color: black;
    margin: 10px;
}

.button{
   margin-left: 30px;
   color: black;
   margin-bottom: 10px; 
}

